html {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  margin: 2em;
  font-size: 1.6rem;
  font-family: monospace;
  line-height: 1.5;
  color: #333;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

figure {
  margin: 0;
}

h1 {
  line-height: initial;
}

h2 {
  margin-top: 4rem;
}

img {
  display: block;
  max-width: 100%;
}

.display-none {
  display: none;
}

.max-w-60 {
  max-width: 60rem;
}

.change-icons[data-smiz-btn-zoom] {
  bottom: 10px;
  top: initial;
}

.change-icons[data-smiz-btn-zoom],
.change-icons[data-smiz-btn-unzoom] {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  color: #000;
  display: flex;
  font-family: monospace;
  font-size: 2rem;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}
